<ion-content>
    <div class="blue">
        <div class="container">
            <div class="row">
                <h3>About</h3>
            </div><!-- /row -->
        </div> <!-- /container -->
    </div><!-- /blue -->

    <div class="container mtb">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-responsive" src="assets/img/profile.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <h4>"Hello World!"</h4>
                <p>
                    My name is Luke Grayland and I am a full-time web developer currently working with a digital agency, building employee-facing apps and software. I started writting code a couple of years ago when I built my first website for a silent disco company I was running and it was from this I found my passion for web development and coding. After realising this passion I took a 3 month coding bootcamp in London and since then, I have been loving every minute of it.

                </p>
                <!--  <p>
                     Check out some of the links below to see what I've been up to lately.
                     enjoy being able to continually develop my skills and knowledge
                     have a big music background, studying music with music technology in Liverpool
                 </p> -->

                <p><br/><a ui-sref="web.contact" class="btn btn-theme">Contact Me</a></p>
            </div>
        </div><! --/row -->
    </div><! --/container -->

    <footer class="footerwrap" ng-include="'app/shared/footer.html'"></footer>
</ion-content>
