<ion-content>
    <div class="blue">
        <div class="container">
            <div class="row">
                <h3>Portfolio</h3>
            </div>
        </div>
    </div>

    <div class="container mtb">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 centered">
                <h2>Here you are some of my latest projects.</h2>
                <br>
                <div class="hline"></div>
            </div>
        </div>
    </div>

    <div class="portfoliowrap">
        <div deckgrid class="deckgrid" source="projects" cardTemplate="app/components/portfolio/deckgrid-card.html"></div>
    </div>

    <footer class="footerwrap" ng-include="'app/shared/footer.html'"></footer>

</ion-content>


